<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <hr />
<% end %>

<h1>URL Shortener</h1>

Enter a URL below.<br /><br />

<%= simple_form_for @url do |f| %>
  <%= f.input :original_url, label: "URL", as: :string %>
  <%= f.button :submit %>
<% end %>

<br /><br />

Or <a href="/urls">view other shortened URLs.</a>

