<p id="notice"><%= notice %></p>

<p>
  <strong>Original url:</strong>
  <%= @url.sanitized_url %>
</p>

<p>
  <strong>Short url:</strong>
  <a href="/<%= @url.short_url %>"><%= request.base_url %>/<%= @url.short_url %></a>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', index_path %>
